.animatedAvatar {
  padding: 90px;
  position: relative;
  display: flex;
}
.animatedAvatar__frame {
  width: 450px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-start-start-radius: 50%;
  border-start-end-radius: 50%;
}
.buddhaImagePainting {
  width: 80%;
}
