.illustration {
  position: relative;
  /* padding: 100px; */
  padding-top: 190px;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  gap: 100px;
  border: 1px solid black;
}
.illustration_right {
  width: 500px;
  height: 800px;
  margin-left: auto;
}
.illustration_right {
  width: 500px;
  height: 800px;
  margin-right: auto;
}
