.header {
  text-align: center;
  display: table;
  width: 100%;
  height: 100vh;
}
.header__title {
  margin: auto 0;
  font-size: 130px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  display: table-cell;
  vertical-align: middle;
}
/* .header__cover {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-image: url(../../images/bamiyanbg.png);
}
.header__bottom {
  height: 200px;
  width: 100%;
  background-size: contain;
  background-image: url(../../images/header.jpg);
} */
