.header {
  background: radial-gradient(
    circle at bottom center,
    rgba(60, 60, 60, 1) 0%,
    rgba(0, 0, 0, 1) 58%
  );
  cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png")
      39 39,
    auto;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.header__title {
  position: absolute;
  color: rgba(235, 235, 235, 0.537);
  top: 25%;
  height: 100px;
  font-size: 10rem;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  z-index: 9;
}
.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
